// bootstrap + icon
@import "bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
// google font
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500;900&display=swap');

body{
  font-family: 'Noto Sans TC', sans-serif;
}

// Color system
.mainNav {
  background-color:#EA9628;
}

.navBtn{
  color:#EA9628;
  border-radius: 50em;
}
  
